<form id="feedbackForm" class="m-5 pt-5" action='' method="POST">
    <div class='mb-3 mt-3'>
        <label for='comment'>What do you think about our app:</label>
        <textarea class='form-control' rows='5' id='feedbackData' name='feedbackdata'></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>Submit</button>
</form>
<script src='/dist/feedback.js'></script>