<div class='col-md-12 mt-5 p-3' style='height: 100%;'>
    <div class='row'>
        <div class='col-lg-3 text-dark'>
            <!--Chat item template--->
            <div id="tempListItem" class='list-group-item d-flex justify-content-between align-items-center friend-list-item' style="display: none !important">
                    <img
                        class='avt-img'
                        src=''
                        width='100'
                        height='100'
                    />
                    <div class='flex-fill flex-column d-flex ps-2'>
                        <span style='font-weight:bold;'>Name</span>
                        {{!-- <span class='short-message-show'>texttexttexttexttexttetexttexttexttext</span> --}}
                    </div>
                    <span class='badge bg-primary rounded-pill'>13</span>
            </div>
            <!--Chat item template end --->
            <div id="chatListContainer" class='list-group' style='max-height: 87vh; overflow-y: auto;'>
                <!--chat list item-->
            </div>
        </div>
        <div class='col-lg-9 border border-2 p-3 chat-container'>
            <!--Message item template--->
            <div id="meMessTemp" class='chat-item personal' style="display: none !important;">ME</div>
            <div id="friMessTemp" class='right-aligned-message'  style="display: none !important;">
                <div class='chat-item friend'>Friend</div>
            </div>
            <!--Message item template end--->
            <div id='message-container' class='chat-messages'>
                <!-- Tin nhắn sẽ được thêm vào đây -->
            </div>
            <form id="messForm" class='chat-input' style="display: none !important;">
                <input id="messInput" name='_message' class='form-control' type='text' placeholder='Nhập tin nhắn' />
                <button class='btn btn-primary' type='submit'>Gửi</button>
            </form>
        </div>
    </div>
</div>
<script src='/dist/main.js'></script>