<div class='col-md-12 mt-5 p-3' style='height: 100%;'>
    <div class='row'>
        <div class='col-lg-3 text-dark'>
            <div class='list-group' style='max-height: 87vh; overflow-y: auto;'>
                <div class='list-group-item d-flex justify-content-between align-items-center friend-list-item'>
                    <img
                        class='avt-img'
                        src='https://firebasestorage.googleapis.com/v0/b/chat-app-7c2ae.appspot.com/o/MasterShifu.png?alt=media&token=6999e899-eaf8-49b7-a010-1d3e0509fea9'
                        width='100'
                        height='100'
                    />
                    <div class='flex-fill flex-column d-flex ps-2'>
                        <span style='font-weight:bold;'>Name</span>
                        <span class='short-message-show'>text</span>
                    </div>
                    <span class='badge bg-primary rounded-pill'>12</span>
                </div>
                <div class='list-group-item d-flex justify-content-between align-items-center friend-list-item'>
                    <img
                        class='avt-img'
                        src='https://firebasestorage.googleapis.com/v0/b/chat-app-7c2ae.appspot.com/o/MasterShifu.png?alt=media&token=6999e899-eaf8-49b7-a010-1d3e0509fea9'
                        width='100'
                        height='100'
                    />
                    <div class='flex-fill flex-column d-flex ps-2'>
                        <span style='font-weight:bold;'>Name</span>
                        <span class='short-message-show'>texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</span>
                    </div>
                    <span class='badge bg-primary rounded-pill'>13</span>
                </div>
            </div>
        </div>
        <div class='col-lg-9 border border-2 p-3 chat-container'>
            <!--Message item template--->
            <div id="meMessTemp" class='chat-item personal' style="display: none !important;">ME</div>
            <div id="friMessTemp" class='right-aligned-message'>
                <div class='chat-item friend'>Friend</div>
            </div>
            <!--Message item template end--->
            <div id='message-container' class='chat-messages'>
                <!-- Tin nhắn sẽ được thêm vào đây -->
                <div class='chat-item personal'>ME</div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Friend</div>
                </div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Sed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies
                        turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in
                        dignissim pellentesque, lectus elit ultricies turpis.</div>
                </div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Sed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies
                        turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in
                        dignissim pellentesque, lectus elit ultricies turpis.</div>
                </div>
            </div>
            <form class='chat-input'>
                <input name='message' class='form-control' type='text' placeholder='Nhập tin nhắn' />
                <button class='btn btn-primary' type='submit'>Gửi</button>
            </form>
        </div>
    </div>
</div>
{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src='/dist/main.js'></script>
{{!-- <script>
    const socket = io();
</script> --}}
{{!-- <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script> --}}