<div class='col-md-12 mt-5 p-3' style='height: 100%;'>
    <div class='row'>
        <div class='col-lg-3 text-dark'>
            <div class='list-group' style='max-height: 87vh; overflow-y: auto;'>
                <div class='list-group-item d-flex justify-content-between align-items-center friend-list-item'>
                    <img
                        class='avt-img'
                        src='https://firebasestorage.googleapis.com/v0/b/chat-app-7c2ae.appspot.com/o/MasterShifu.png?alt=media&token=6999e899-eaf8-49b7-a010-1d3e0509fea9'
                        width='100'
                        height='100'
                    />
                    <div class='flex-fill flex-column d-flex ps-2'>
                        <span style='font-weight:bold;'>Name</span>
                        <span class="short-message-show">text</span>
                    </div>
                    <span class='badge bg-primary rounded-pill'>12</span>
                </div>
                <div class='list-group-item d-flex justify-content-between align-items-center friend-list-item'>
                    <img
                        class='avt-img'
                        src='https://firebasestorage.googleapis.com/v0/b/chat-app-7c2ae.appspot.com/o/MasterShifu.png?alt=media&token=6999e899-eaf8-49b7-a010-1d3e0509fea9'
                        width='100'
                        height='100'
                    />
                    <div class='flex-fill flex-column d-flex ps-2'>
                        <span style='font-weight:bold;'>Name</span>
                        <span class="short-message-show">texttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttexttext</span>
                    </div>
                    <span class='badge bg-primary rounded-pill'>13</span>
                </div>
            </div>
        </div>
        <div class='col-lg-9 border border-2 p-3 chat-container'>
            <div id='message-container' class='chat-messages'>
                <!-- Tin nhắn sẽ được thêm vào đây -->
                <div class='chat-item personal'>Lorem ipsum dolor sit amet.</div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Sed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies
                        turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in
                        dignissim pellentesque, lectus elit ultricies turpis.</div>
                </div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Sed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies
                        turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in
                        dignissim pellentesque, lectus elit ultricies turpis.</div>
                </div>
                <div class='right-aligned-message'>
                    <div class='chat-item friend'>Sed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies
                        turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in dignissim pellentesque, lectus elit ultricies turpisSed feugiat, neque in
                        dignissim pellentesque, lectus elit ultricies turpis.</div>
                </div>
            </div>
            <form class='chat-input'>
                <input name='message' class='form-control' type='text' placeholder='Nhập tin nhắn' />
                <button class='btn btn-primary' type='submit'>Gửi</button>
            </form>
        </div>
    </div>
</div>
<script src='/dist/main.js'></script>